ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222222;
    opacity: .7;
}
li
{
    float: right;
    border-right: 1px solid white;
}
li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active)
{
    background-color: #FFCA28;
}
.active
{
    background-color: #4CAF50;
}