body, html
{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.container
{
    width: 100%;
    height: 100%;
    background-color: #4CAF50;
    overflow: hidden;
    font-size: 40px;
}
.topSection
{
    width: 100%;
    height: 70%;
    overflow: hidden;
}
.leftSection
{
    width: 50%;
    height: 100%;
    float: left;
    background-color: #FFCA28;
}
.rightSection
{
    width: 50%;
    height: 100%;
    float: left;
    background-color: burlywood;
    padding-top: 20px;
}
.bottomSection
{
    width: 100%;
    height: 30%;
    background-color: cornflowerblue;
}
.fadeIn, .fadeIn2
{
    animation-name: fadein;
    animation-duration: 4s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.fadeIn
{
    animation-delay: 1s;
    animation-timing-function: linear;
}
.fadeIn2
{
    animation-delay: 4s;

}
@keyframes fadein
{
    from {opacity: 0;}
    to {opacity: 1;}
}
.box
{
    text-align: center;
}