#mainBar
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}
#logoSection
{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;

}
#menuSection
{
    position: relative;
    top: 30px;
    /*width: 100%;*/
    /*height: 60px;*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 215, 0, .5);
}
.menu
{
    list-style: none;
    /*display: inline;*/
}
.menuItems
{
    float: right;
    height: 60px;
    border-left: 1px solid white;
}
.menuLinks
{
    display: block;
    color: white;
    text-align: center;
    padding: 11px 16px;
    text-decoration: none;
    font-size: 25px;
    transition: all 0.5s;
}
.menuLinks:hover
{
    color:white;
    text-decoration: none;
}
.menuLinks:hover:not(.active)
{
    background-color: rgba(102, 51, 0, 0.8);
    transform: scale(1.2);
    border-radius: 10px;
}
/*.active*/
/*{*/
    /*background-color: darkgoldenrod;*/

/*}*/
#resumeContent
{
    margin-top: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    min-height: 400px;
    width: 60%;
    float:right;
    background: linear-gradient(black, red 10%);
    border-radius: 9px;
    overflow: auto;
    clear: both;
}
.formSection
{
    background-color: #4CAF50;
    border-radius: 5px;
    padding: 10px;
    margin-top: 100px;
    font-size: 20px;
}
.submit, .reset
{
    border-radius: 10px;
    height: 30px;
    width: 150px;
    font-size: 18px;
    border: none;
    margin-top: 5px;
    margin-right: 10px;
    box-shadow: 5px 5px 5px black;
    font-weight: bold;
}
.submit
{
    background-color: goldenrod;

}
.submit:hover
{
    background-color: darkgoldenrod;
}
.reset
{
    background-color: coral;
}
.reset:hover
{
    background-color: lightcoral;
}
.imgCaption
{
    color:white;
    font-size: 20px;
}
.fadeIn, .fadeIn2
{
    animation-name: fadein;
    animation-duration: 4s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.fadeIn
{
    animation-delay: 1s;
    animation-timing-function: linear;
}
.fadeIn2
{
    animation-delay: 4s;

}
@keyframes fadein
{
    from {opacity: 0;}
    to {opacity: 1;}
}
.othermirPanel
{
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
    color: blueviolet;
    font-size: 50px;
}
.buttons
{
    margin: 0 auto;
    text-align: center;
    width: 50%;
}
.othermirBlurb
{
    color: white;
    font-size: 20px;
}
.othermirBlurb>span
{
    display: block;
    padding-bottom: 10px;
}
.thumbnails, .videoThumb
{
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}
.thumbnails
{
    height: 200px;
}
.projectsPanel
{
    margin-top: 100px;
    color: white;
}
.separator
{
    height: 2px;
    width: 100%;
    background-color: #122b40;
    margin-bottom: 10px;
}
.aboutContainer
{
    margin-top: 80px;
    margin-bottom: 15px;
    min-height: 400px;
    width: 100%;
    background-image: url("cliffsValleys.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    padding: 30px;
    border-radius: 10px;
}
.aboutSectionBlurb, .interests
{
    font-size: 20px;
    background-color: rgba(0, 0, 0 , 0.6);
    border-radius: 5px;
    color: navajowhite;
    padding: 20px;
}
.interests
{
    margin-top: 20px;
}
.line
{
    height: 2px;
    background-color: darkolivegreen;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.8;
}