#mainBar
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}
#logoSection
{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;

}
#menuSection
{
    position: relative;
    top: 30px;
    /*width: 100%;*/
    /*height: 60px;*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 215, 0, .5);
}
.menu
{
    list-style: none;
    /*display: inline;*/
}
.menuItems
{
    float: right;
    height: 60px;
    border-left: 1px solid white;
}
.menuLinks
{
    display: block;
    color: white;
    text-align: center;
    padding: 11px 16px;
    text-decoration: none;
    font-size: 25px;
    transition: all 0.5s;
}
.menuLinks:hover
{
    color:white;
    text-decoration: none;
}
.menuLinks:hover:not(.active)
{
    background-color: rgba(102, 51, 0, 0.8);
    transform: scale(1.2);
    border-radius: 10px;
}
/*.active*/
/*{*/
    /*background-color: darkgoldenrod;*/

/*}*/
.resumeContent
{
    margin-top: 100px;
    margin-right: 10px;
    margin-bottom: 70px;
    width: 60%;
    float:right;
    background: linear-gradient(black, red 10%);
    border-radius: 9px;
    overflow: auto;
    clear: both;
}
.formSection
{
    background: linear-gradient(#111, #122b40 60%);
    box-shadow: 5px 5px 5px #111;
    border-radius: 5px;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 70px;
    font-size: 20px;
    color: #337ab7;
}
.submit, .reset
{
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-size: 30px;
    margin-top: 5px;
    margin-right: 10px;
    box-shadow: 5px 5px 5px black;
    font-weight: bold;
    text-shadow:2px 2px 2px #283966;
    text-decoration: none;
    transition: all 0.2s;
}
.submit:active, .reset:active {
    position:relative;
    top:1px;
}

.submit
{
    border: 2px solid darkslateblue;
    background: linear-gradient(#111, #122b40 20%, #111 80%);
}
.submit:hover
{
    color: navajowhite;
    background: linear-gradient(#122b40, #111 20%, #122b40 80%);
}
.reset
{
    color: firebrick;
    border: 2px solid #5f0000;
    background: linear-gradient(#111, #9f0000 20%, #111 95%);
}
.reset:hover
{
    color: navajowhite;
    background: linear-gradient(#9f0000, #111 20%, #9f0000 95%);
}
.imgCaption
{
    padding-top: 10px;
    color:white;
    font-size: 20px;
}
.fadeIn, .fadeIn2
{
    animation-name: fadein;
    animation-duration: 4s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.fadeIn
{
    animation-delay: 1s;
    animation-timing-function: linear;
}
.fadeIn2
{
    animation-delay: 4s;

}
@keyframes fadein
{
    from {opacity: 0;}
    to {opacity: 1;}
}
.othermirPanel
{
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
    color: blueviolet;
    font-size: 50px;
}
.buttons
{
    margin: 0 auto;
    text-align: center;
    width: 50%;
    margin-bottom: 20px;
}
.othermirBlurb
{
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
}
.othermirBlurb>span
{
    display: block;
    padding-bottom: 10px;
}
.thumbnails, .videoThumb
{
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}
.thumbnails
{
    height: 200px;
}
.projectsPanel
{
    margin-top: 80px;
    font-size: 20px;
    color: navajowhite;
    padding: 15px;
    margin-bottom: 70px;
}
.projectsHeader
{
    padding-bottom: 15px;
}
.separator
{
    height: 2px;
    width: 100%;
    background-color: darkgoldenrod;
    margin-bottom: 10px;
}
.aboutContainer
{
    margin-top: 80px;
    margin-bottom: 70px;
    min-height: 400px;
    width: 100%;
    background-image: url("cliffsValleys.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    padding: 30px;
    border-radius: 10px;
}
.aboutSectionBlurb, .interests
{
    font-size: 20px;
    background-color: rgba(0, 0, 0 , 0.6);
    border-radius: 5px;
    color: navajowhite;
    padding: 20px;
}
.interests
{
    margin-top: 20px;
}
.interests a
{
    color: darkviolet;
    transition: color 0.5s;
    text-decoration: none;
}
.interests a:hover
{
    color: mediumslateblue;
}
.line
{
    height: 2px;
    background-color: darkolivegreen;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0.8;
}
.thumbSection
{
    margin-bottom: 50px;
    padding-top: 15px;
}
.centerBox
{
    width: 90%;
    margin: 0 auto;
}
.footer
{
    background-color: rebeccapurple;
    width: 100%;
    opacity: .7;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    padding: 15px 0px;
}
.copyright
{
    color: navajowhite;
    float: right;
    font-size: 20px;
}
.introPanel
{
    margin-top: 80px;
    margin-bottom: 70px;
    height: 100%;
    color: aquamarine;
    font-size: 20px;
}
.leftSection
{
    background: linear-gradient(#111, #122b40 60%);
    box-shadow: 5px 5px 5px #111;
    min-height: 600px;
    padding: 15px;
    border-radius: 15px;
}
.rightSection
{
    padding: 15px;
}
.meCaption
{
    padding-top: 15px;
}
.formHeader
{
    font-size: 40px;
    font-weight: bold;
}
.disclaimerText
{
    color: orangered;
    font-size: 12px;
}